[Interface]
PrivateKey = {{ out_pvkey_local.stdout }}
Address = {{ adress_peer }}
DNS = 67.207.67.3



[Peer]
PublicKey = {{ pub_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ ansible_default_ipv4.address }}:{{ wg_port }}
